<section class="section-1 mt-80">
  <div class="container">
    <div class="content-block-1 row mb-50">
      <h2 class="heading-1 text-center mb-60">ABOUT ATTACHMORE</h2>
      <div class="col-md-7">
        <div class="">
          <h4 class="font-weight-semi-bold color-666 mt-0 mb-20">Uploading the Dream</h4>
          <p class="font-size-15 ls-0 lh-1-6 mb-30">The Attachmore story begins with one simple goal in mind - make uploading, sending and sharing your large files simple. We go to great lengths to develop technology that enables our users to effortlessly communicate with their data using their standard communication tools such as outlook, web based email, instant messengers, and social networks.</p>
          <p class="font-size-15 ls-0 lh-1-6">Our customers range from the new Mom who sends baby pictures and videos to the business person that sends their robust power point presentations. We make uploading, sending and sharing large files easy for them and everyone in between. Oct home users save time and are more effective in their daily computing. Oct business users are more productive and effective in their communications and ease the burden of uploading big attachments on their corporate infrastructure. Regardless of the customer type, those that rely on Attachmore gain peace of mind by using us as the stationary for their large file uploads, sending & deliveries.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div>
          <img class="img-responsive no-mobile-parallax" src="assets/images/main/About-us.png" alt="image">
        </div><!-- img-style-1 -->
      </div>
    </div>
    <div>
        <p class="font-size-15 ls-0 lh-1-8 mb-30">Uploading and sending your large files should not be a time consuming hassle... Rather it should be easy, and fun. Attachmore fills the void between the size-limited upload attachment features of emails to the complex cumbersome swathe of online storage and FTP solutions.</p>
        <p class="font-size-15 ls-0 lh-1-8 mb-30">The Attachmore story began in 2006. Our founders foresaw the need for an easy to use, cost effective large file delivery service. The goal was to create a service that enhances a user’s communication tools instead of replacing them. The end result was attachmore.com.</p>
        <p class="font-size-15 ls-0 lh-1-8 mb-30">Attachmore is self-funded and located in San Diego, California. We are a private company that is owned by its employees and answers early and often to its customers needs.</p>        
        <p class="font-size-15 ls-0 lh-1-8 mb-30">We encourage you to reach us directly for any product feedback or suggestions at <a href="" class="primary-500-fg" style="text-decoration: underline;">supportmore@attachmore.com</a>. We would love to hear from you. Please share your stories with us.</p>
    </div>
  </div>
</section>

