.mat-progress-spinner svg {
    width: 150px !important;
    height: 150px !important;
}
.mat-progress-spinner circle.ng-star-inserted, .mat-spinner circle
{
    stroke-width: 5% !important;
    stroke: #2E71F0;
}
mat-progress-spinner
{
    width:150px !important;
    height:150px !important;
}