<!-- <div class="dialog-container">
  <h1 mat-dialog-title>Thank you</h1>
</div>
<div mat-dialog-content>
  <p> You npw have free 1GB Account</p>
  <p>Welcome to</p>
  <p>Attachmore</p>
</div>
<div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="10px" class="mt-20">
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Continue</button>
</div> -->

<div class="dialog-container">
  <h1 mat-dialog-title class="text-center font-size-18 font-weight-semi-bold color-333">Thank you</h1>
</div>
<div mat-dialog-content>
  <p class="text-center font-size-18 color-666">You now have free 1GB Account</p>
  <p class="text-center font-size-18 pdd-top-10 color-333 font-weight-semi-bold mb-0">Welcome to</p>
  <h3 class="text-center color-333 mt-2">Attachmore</h3>
</div>
<div mat-dialog-actions fxLayoutAlign="center" fxLayoutGap="10px" class="mt-20 mb-0">
  <button mat-raised-button class="border-radius-0" color="primary" [mat-dialog-close]="true">Continue</button>
</div>
