<section class="bg-grey mt-120">
  <div flexLayout>
     <div class="bg-gray custm_dash">
       <div class="container">
        <div class="row">
         <div class="col-md-3 white-500-bg pr-0">
           <div class="border bottom">
             <div class="user_profile pdd-btm-30 pdd-top-30 width-100 inline-block">
               <div class="user_img">
                 <img src="assets/images/main/admin.jpg" alt="User image" >
               </div>
               <div class="user_detail">
                 <h5 class="font-weight-500 m-0 mt-10 color-444">Hi David</h5>
                 <p class="mb-0 pdd-top-5">Administrator</p>
               </div>
             </div>
           </div>
           <div class="border bottom">
             <p class="pdd-top-20 pdd-botttom-20 color-444 font-weight-500"><img src="assets/images/main/bell.png" alt="image"> &nbsp; Status: <span class="primary-500-fg">Active</span></p>
           </div>
           <div class="border bottom">
             <p class="pdd-top-20 pdd-botttom-20 color-444 font-weight-500"><img src="assets/images/main/users.png" alt="image"> &nbsp; Sub Users: <span class="color-666">1 of 5</span></p>
           </div>
           <div class="border bottom">
             <p class="pdd-top-20 pdd-botttom-20 color-444 font-weight-500"><img src="assets/images/main/billing.png" alt="image"> &nbsp; Next Billing:  <span class="color-666">01/01/18</span></p>
           </div>
           <div class="border bottom">
             <p class="pdd-top-20 pdd-botttom-20 color-444 font-weight-500"><img src="assets/images/main/card.png" alt="image"> &nbsp; Card on File:  <span class="color-666">7575</span></p>
           </div>
           <div class="border bottom">
             <p class="pdd-top-20 pdd-botttom-20 color-444 font-weight-500"><img src="assets/images/main/calender.png" alt="image"> &nbsp; Expires:  <span class="color-666">01/18</span></p>
           </div>
           <div class="">
             <p class="pdd-top-20 pdd-botttom-20">
               <button class="border-radius-0 main-font-family font-weight-normal mat-flat-button mat-primary" color="primary" mat-flat-button="" ng-reflect-color="primary"><span class="mat-button-wrapper">Update</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false"></div><div class="mat-button-focus-overlay"></div></button>
             </p>
           </div>
         </div>
         <div class="col-md-9 bg-gray pdd-left-30">
           <h2 class="mt-24 mb-24 font-size-20 font-weight-semi-bold">Settings</h2>
           <div class="pdd-btm-50 custom_accordion">
              <mat-accordion>
                <mat-expansion-panel class="border-radius-0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="color-444 font-primary font-size-16 font-weight-500">
                      My Profile
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form class="mrg-top-15">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Email Address</label>
                        <input type="text" class="form-control" placeholder="markdev@xyz.com">
                      </div>
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Profile Pic</label>
                        <img class="profile_edit_img" src="assets/images/thumb/aadler.jpg" />
                        <a href="#" class="profile_edit_btn">Edit</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">First Name</label>
                        <input type="text" class="form-control" placeholder="Mark">
                      </div>
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Last Name</label>
                        <input type="text" class="form-control" placeholder="Dev">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Company Name</label>
                        <input type="text" class="form-control" placeholder="Mark">
                      </div>
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Company Website</label>
                        <input type="text" class="form-control" placeholder="www.websitelink.xyz">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Best Contact Number</label>
                        <input type="tel" class="form-control" placeholder="9876543210">
                      </div>
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Mobile Number</label>
                        <input type="tel" class="form-control" placeholder="9876543210">
                      </div>
                    </div>
                    <hr style="border-color: #999;" class="mrg-top-10">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Default Download Page</label>
                        <input type="text" class="form-control" placeholder="Attachmore Default">
                      </div>
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Time Zone</label>
                        <input type="text" class="form-control" placeholder="UTC+10:30">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Password</label>
                        <input type="password" class="form-control" placeholder="********">
                      </div>
                      <div class="form-group col-md-6">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="********">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label class="color-444 font-primary font-size-14 font-weight-normal">Password Resets</label>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="radio mb-0">
                              <input type="radio" name="group1" id="radio1">
                              <label class="color-444 font-primary font-size-14 font-weight-normal" for="radio1"><span class="">Use Email</span></label>
                            </div>
                          </div>
                          <div class="col-md-4 p-0">
                            <div class="radio mb-0">
                              <input type="radio" name="group1" id="radio2">
                              <label class="color-444 font-primary font-size-14 font-weight-normal" for="radio2"><span class="">Use Text Message</span></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12 mt-20">
                          <button class="border-radius-0 main-font-family font-weight-normal mat-flat-button mat-primary" color="primary" mat-flat-button="" ng-reflect-color="primary">
                            <span class="mat-button-wrapper">
                              <span class="mat-button-wrapper">Update</span>
                              <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false"></div>
                              <div class="mat-button-focus-overlay"></div>
                            </span>
                            <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                            <div class="mat-button-focus-overlay"></div>
                          </button>
                      </div>
                    </div>
                  </form>  
                </mat-expansion-panel>


                <mat-expansion-panel class="mrg-top-15 border-radius-0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="color-444 font-primary font-size-16 font-weight-500">
                      Default Settings
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="mrg-top-15">
                    <p class="color-444 font-size-14 ls-0">These settings are the default settings for each file you upload.</p>
                    <p class="color-444 font-size-14 ls-0">Keep in mind, you can customize these settings for any individual file prior to upload on after upload in <span style="color:#2e72f1;">History</span></p>
                  </div>
                </mat-expansion-panel>


                <mat-expansion-panel class="mrg-top-15 border-radius-0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="color-444 font-primary font-size-16 font-weight-500">
                      Share Link Settings
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="mrg-top-15">
                    <p class="color-444 font-size-14 font-weight-500 mb-70">The Share Link button gives you easy access to send Attachmore download links with popular email and messaging tools.  Choosing an option in share link will open a new message in that tool and place the download link in the body area of the message.
                      <br><br>You can customize this list to best meet your needs.
                      <br><br>Please note the Local Email options opens the default email program on your computer.
                    </p>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 class="font-size-16 color-444 font-weight-500 text-uppercase ls-0">Available Programs</h4>
                        <ul class="lh-44 cstm_design">
                          <li>
                            <a href=""><img src="assets/images/main/AOL.png"> AOL Mail (Web)</a>
                          </li>
                          <li>
                            <a href=""><img src="assets/images/main/Outlook_icon.png"> Outlook.com</a>
                          </li>
                          <li>
                            <a href=""><img src="assets/images/main/yahoo_icon.png"> Yahoo Mail</a>
                          </li>
                          <li>
                            <a href=""><img src="assets/images/main/hubspot_icon.png"> Hubspot</a>
                          </li>
                        </ul>
                        <p class="border inline-block p-12 mb-0 font-size-16 color-444">Not Listed? <a href="" style="text-decoration: underline;" class="primary-500-fg"> Contact Us</a></p>
                      </div>
                      <div class="col-md-2">
                        <div class="share_link_devider"></div>
                      </div>
                      <div class="col-md-4">
                        <h4 class="font-size-16 color-444 font-weight-500 text-uppercase ls-0">Share Link</h4>
                        <ul class="font-size-16 lh-44">
                          <li>
                            <a href=""><img src="assets/images/main/mail_icon.png" class="mrg-right-10"> Local Email</a>
                          </li>
                          <li>
                            <a href=""><img src="assets/images/main/fb_icon.png" class="mrg-right-10"> Facebook</a>
                          </li>
                          <li>
                            <a href=""><img src="assets/images/main/twit_icon.png" class="mrg-right-10"> Twitter</a>
                          </li>
                          <li>
                            <a href=""><img src="assets/images/main/G-plus_icon.png" class="mrg-right-10"> Gmail (Web)</a>
                          </li>
                          <li>
                            <a href=""><img src="assets/images/main/in_icon.png" class="mrg-right-10"> Linked In</a>
                          </li>
                          <li>
                            <a href=""><img src="assets/images/main/mail_icon.png" class="mrg-right-10"> Attachmore Mail</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="mrg-top-30">
                      <button class="border-radius-0 pdd-horizon-40 main-font-family font-weight-normal mat-flat-button mat-primary" color="primary" mat-flat-button="" ng-reflect-color="primary">
                        <span class="mat-button-wrapper">
                          <span class="mat-button-wrapper">Save</span>
                          <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false"></div>
                          <div class="mat-button-focus-overlay"></div>
                        </span>
                        <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                    </div>
                    <div>
                      <h4 class="font-size-16 color-444 font-weight-semi-bold mt-24 ls-0">Test your settings</h4>
                      <div class="row">
                        <div class="form-group col-md-5">
                            <mat-form-field>
                              <mat-select [(value)]="selected">
                                <mat-option value="option1">Share Link</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>


                <mat-expansion-panel class="mrg-top-15 border-radius-0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="color-444 font-primary font-size-16 font-weight-500">
                      Pay For Download Settings
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="mrg-top-15">
                    <p class="font-size-14 font-weight-normal">Collecting a payment prior to a recipient downloading a file can be required.
                      <br>
                      Payment settings can be applied to any file during the upload process (on the fly) or a file that is active in your account.
                      <br>
                      We currently support Pay Pal and Venmo for this feature.</p>  
                    <p class="font-size-14 font-weight-500">Please complete the below to make this option available.</p>
                  </div>
                </mat-expansion-panel>



                <mat-expansion-panel class="mrg-top-15 border-radius-0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="color-444 font-primary font-size-16 font-weight-500">
                      Services Plan
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="mrg-top-15">In progress</div>
                </mat-expansion-panel>



                <mat-expansion-panel class="mrg-top-15 border-radius-0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="color-444 font-primary font-size-16 font-weight-500">
                      Account Status: <span class="font-size-14 font-weight-normal ml-10" style="color:#2e72f1;margin-top: 2px;">Active</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="mrg-top-15">
                      <p class="color-444 font-size-14">Renews on 05/11/19</p>
                      <p class="color-444 font-size-16 font-weight-500">Options:</p>
                      <div class="radio mb-10">
                        <input type="radio" name="option1" id="option1">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="option1"><span class="">Close Account Now – This will disable all active download links and delete all files from storage</span></label>
                      </div>
                      <div class="radio">
                        <input type="radio" name="option1" id="option2">
                        <label class="color-444 font-primary font-size-14 font-weight-normal" for="option2"><span class="">Do not renew, Close on renewal date</span></label>
                      </div>
                      <button class="border-radius-0 pdd-horizon-30 main-font-family font-weight-normal mat-flat-button mat-primary" color="primary" mat-flat-button="" ng-reflect-color="primary">
                        <span class="mat-button-wrapper">
                          <span class="mat-button-wrapper">Next</span>
                          <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false"></div>
                          <div class="mat-button-focus-overlay"></div>
                        </span>
                        <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                  </div>
                </mat-expansion-panel>



                <mat-expansion-panel class="mrg-top-15 border-radius-0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="color-444 font-primary font-size-16 font-weight-500">
                      Billing information
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="mrg-top-15">In progress</div>
                </mat-expansion-panel>
                <mat-expansion-panel class="mrg-top-15 border-radius-0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="color-444 font-primary font-size-16 font-weight-500">
                      Payment History
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="mrg-top-15">In progress</div>
                </mat-expansion-panel>
              </mat-accordion>
           </div>
         </div>
        </div>
       </div>
     </div>
 </div>
 </section>
 
 