.plan-bg{ background: #faf8f8; padding:0 5px;margin-bottom: 4px;}
.plan-desc{padding:5px 0; border-right:1px solid #fff}
.plan-price{padding:5px 0;}
.mat-raised-button.border-radius-0, .mat-stroked-button.border-radius-0 {
    border-radius: 0;
}