<section class="bg-grey mt-90">
    <div flexLayout>
      <div class="bg-gray">
        <div class="container">
          <div class="col-md-12 bg-gray pdd-left-30 min-height-700">
            <div class="mt-24 width-100 inline-block">
              <h2 class="mb-10 m-0 font-size-20 font-weight-semi-bold">History - File Details - Acitivity Log</h2>
              <mat-icon class="font-size-18 pdd-left-10 mat-icon material-icons ng-star-inserted" role="img" aria-hidden="true">edit</mat-icon>
              <span class="font-weight-light color-444 font-size-16 pdd-left-15 pdd-right-15">|</span>
              <span class="font-size-13 font-weight-normal">Size 0 MB | 1 File</span>
            </div>
            <div>
                <div class="card padding-20 mrg-top-20">
                    <div class="table-responsive">
                      <table class="table table-bordered mb-0 custm_log_table">
                        <thead>
                          <tr>
                            <th>Date / Time</th>
                            <th>Action</th>
                            <th>Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>8/17/18 , 11:55AM<br>
                                Pacific Time</td>
                            <td>Uploaded</td>
                            <td>Files uploaded by &lt;User&gt; using &lt;Method&gt; -  Download Link was set to expire after x Download or on 
                                Expire Date.  File was set to archive.   No download requirements were set. 
                                </td>
                          </tr>
                          <tr>
                            <td>8/17/18</td>
                            <td>Download</td>
                            <td>Download by IP Address – 2255.11.1123.56</td>
                          </tr>
                          <tr>
                            <td>8/19/18</td>
                            <td>Download</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Options Edited</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Expired</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Purged</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>