.font-weight-500{
    font-weight: 500;
}
.max-width-100{
    max-width: 100%;
}
.min-height-600{
    min-height: 600px;
}
.min-height-700{
    min-height: 700px;
}
.color-444{
    color: #444444 !important;
}
.color-666{
    color: #666666 !important;
}
.custm_log_table.table {
    border-color: #fff;
    background: #f9f9f9;
}
.custm_log_table.table thead{
    background: #e1e1e1;
}

.custm_log_table.table > thead > tr > th,
.table.custm_log_table > tbody > tr > td{
    padding: 15px;
    border-color: #fff;
    min-width: 175px;
    font-size: 16px;
    color: #444444;
    font-weight: 600;
} 
.table.custm_log_table > tbody > tr > td{
    font-size: 14px;
    color: #777777;
    font-weight: 500;
}
