<form class="mt-16" fxLayout="column">
    <div class="mrg-horizon-auto optionsItems">
        <p>Require Guest to enter the following information prior to uploading files</p>
      <mat-slide-toggle class="mrg-right-auto pdd-btm-40" labelPosition="before" formControlName="fillEmail">Email</mat-slide-toggle>
      <mat-slide-toggle class="mrg-right-auto pdd-btm-40" labelPosition="before" formControlName="fillName">Name</mat-slide-toggle><br>
      <mat-slide-toggle class="mrg-right-auto pdd-btm-40" labelPosition="before" formControlName="fillCompany">Company</mat-slide-toggle><br>
      <mat-slide-toggle class="mrg-right-auto pdd-btm-40" labelPosition="before" formControlName="fillPhone">Phone</mat-slide-toggle>
      <mat-slide-toggle class="mrg-right-auto pdd-btm-40" labelPosition="before" formControlName="fillPassword">Password</mat-slide-toggle>
      <p>Password Protect the Download Page</p>
      <mat-slide-toggle class="mrg-right-auto pdd-btm-40" labelPosition="before" formControlName="downloadPassword">Password</mat-slide-toggle>
    </div>      
  </form>