
  <section class="section-1 mt-80">
    <div class="container">
      <div class="text-center">
        <h2 class="heading-1 text-center WhiteBg mb-20">Additional Features</h2>
        <p class="black-500-fg color-444 font-size-21 pdd-btm-25 font-weight-semi-bold lh-1-2 mrg-horizon-auto width-60">We have worked diligently to make sure Attachmore provides all you need to file share effectively.</p>
        <div class="row mrg-top-70">
          <div class="col-md-4">
            <div class="features-block-3">
              <!-- <i class="ei ei-insurance"></i> -->
              <img src="assets/images/main/secure-link.png" alt="secure">
              <div class="features-info">
                <h4 class="features-tittle">Secure Links</h4>
                <p>Uploads and downloads occur using 256bit AES encyrption. Downloads links can be password protected and
                  require downloaders to provide name, email, or company.</p>
                <button class="border-radius-0 mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
              </div><!-- /features-info -->
            </div><!-- /features-block-3 -->
          </div>
          <div class="col-md-4">
            <div class="features-block-3">
              <img src="assets/images/main/export.png" alt="export">
              <div class="features-info">
                <h4 class="features-tittle">Auto Expire - Auto Purge</h4>
                <p>Increase security by limiting access. Download Links can expire based on days or downloads. Also purge
                  dates can be set to automtically delete older files from storage.</p>
                <button class="border-radius-0 mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
              </div><!-- /features-info -->
            </div><!-- /features-block-3 -->
          </div>
          <div class="col-md-4">
            <div class="features-block-3">
              <img src="assets/images/main/notification.png" alt="secure">
              <div class="features-info">
                <h4 class="features-tittle">Notifications and Tracking</h4>
                <p>Receive email or text messages when files are downloaded. All download activity for each link is
                  logged and recorded in your account later review.</p>
                <button class="border-radius-0 mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
              </div><!-- /features-info -->
            </div><!-- /features-block-3 -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="features-block-3">
              <img src="assets/images/main/long-term.png" alt="secure">
              <div class="features-info">
                <h4 class="features-tittle">Long Term Archiving</h4>
                <p>Archive all files or just certain files uploaded to Attachmore. Archived files with expired download
                  links can be reactivated to allow recipients to download again. </p>
                <button class="border-radius-0 mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
              </div><!-- /features-info -->
            </div><!-- /features-block-3 -->
          </div>
          <div class="col-md-4">
            <div class="features-block-3">
              <img src="assets/images/main/guest.png" alt="secure">
              <div class="features-info">
                <h4 class="features-tittle">Guest Links</h4>
                <p>Create limited use links that others can use to upload files to you. Email or text notifications will
                  let you know files have arrived.</p>
                <button class="border-radius-0 mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
              </div><!-- /features-info -->
            </div><!-- /features-block-3 -->
          </div>
          <div class="col-md-4">
            <div class="features-block-3">
              <img src="assets/images/main/payment.png" alt="secure">
              <div class="features-info">
                <h4 class="features-tittle">Payment for Download</h4>
                <p>Need to collect payment for delivery of your digital assets? Attachmore makes it easy. Require payment
                  for download on any of your files at any time.</p>
                <button class="border-radius-0 mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
              </div><!-- /features-info -->
            </div><!-- /features-block-3 -->
          </div>
        </div>
      </div><!-- /text-center -->
    </div>
  </section>

  <section class="section-2  free-trial" style="background-image:url(assets/images/bg/free-trial.jpg); background-size: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pdd-vertical-10 pdd-horizon-70 text-center">
            <div class="text-center">
              <h2 class="no-mrg-top white-500-fg font-size-40">Get started with 30 Day Free Trial</h2>
              <p class="width-80 mrg-horizon-auto mrg-top-20 white-500-fg">Attachmore is the best tool to send and share files.</p>
              <div class="form-group mrg-top-30">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="icon-input">
                        <mat-form-field class="example-full-width mrg-right-80 width-60">
                            <input matInput placeholder="Your mail here">
                          </mat-form-field>
                        
                      <!-- <input type="email" class="form-control width-75" placeholder="Your mail here"> -->
                      <!-- <i class="ei ei-email"></i> -->
                      <a href="" class="btn btn-theme btn-md inline-submit mrg-top-10">Next </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Learn More About</h2>
            <div class="relative mrg-top-30">
              <h5 class="font-size-16 font-weight-semi-bold">Integrating Attachmore</h5>
              <p class="ls-0 pdd-right-120">If you have a website then integrate Attachmore so file exchanges happen on your website and within your brand or persona. Recipients can download and visitors can send you files.</p>
              <button class="border-radius-0 cstm_readmore mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
            </div>
            <div class="relative mrg-top-30">
              <h5 class="font-size-16 font-weight-semi-bold">Right Click Upload</h5>
              <p class="ls-0 pdd-right-120">Be more productive with our Right Click Upload software. Select and Upload files from anywhere on your computer without signing into the Attachmore website.</p>
              <button class="border-radius-0 cstm_readmore mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
            </div>
            <div class="relative mrg-top-30">
              <h5 class="font-size-16 font-weight-semi-bold">Team Accounts</h5>
              <p class="ls-0 pdd-right-120">Support your entire team with your Attachmore account. Setup additional administrators or sub-users. Keep all your file communications referenceable in one place.</p>
              <button class="border-radius-0 mrg-top-15 cstm_readmore pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
            </div>
          </div>
        </div>
      </div>
    </section>
