
<div class="dialog-container">
  <p class="text-center font-size-18 font-weight-semi-bold color-333">Please Note</p>
  <p class="text-center mt-10 font-size-16 color-666">With our free account these files will only be available for:</p>
  <p class="text-center mt-10 font-size-18 color-333 font-weight-bold">5 downloads and 15 days</p>
  <p class="text-center mt-10 font-size-16 color-666">If you need more downloads and longer hosting periods, upgrade.</p>
  <p class="text-center mt-10 font-size-16 color-666">Monthly Plans as low as</p>
  <p class="text-center mt-10 font-size-24 mb-0 color-333 font-weight-bold">$8</p>
</div>
<div mat-dialog-content>

      
  </div>
<div mat-dialog-actions fxLayoutAlign="center" fxLayoutGap="10px" class="mb-0 mt-10 text-center">
    <button mat-stroked-button color="primary" [mat-dialog-close]="true" class="pdd-horizon-25 border-radius-0">Not Now</button>
    <button mat-raised-button color="primary" class="border-radius-0" (click)="shopPlans()">Shop Plans</button>
</div>