mat-icon {
    cursor: pointer;
}
.color-444{
    color: #444;
}
.color-666{
    color: #666;
}
.display-inline
{
    display: inline-block;
}
.ver_align_top{
    vertical-align: top !important;
}
.line-height-40 {
    line-height:40px;
}