<section class="section-1 bg-gray">
  <div class="container">
    <div class="text-center">
      <h2 class="mrg-btm-30 mrg-top-15">Attachmore Users Say</h2>
    </div>
    <div class="testimonial-4 mrg-top-50 swiper-container-horizontal">
      <swiper class="swiper-3 swiper-container" class="swiper" [config]="config">
        <div class="swiper-wrapper mrg-btm-50">
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>Our Daily Go to</b></span>
                <p>Attachmore is almost as important as email in our office. We are constantly sending and receiving
                  files with no problems.</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/rbush.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name font-size-17 theme-color">Renee Bush</h4>
                  <p class="font-size-12">Aiken Welch Court Reporters</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>The Perfect tool</b></span>
                <p>Ive been with Attachmore since they started. It makes me more productive in deliverying final work
                  product to my cusotmers.</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/jvalverde.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name font-size-17 theme-color">Joel Valverde</h4>
                  <p class="font-size-12">Voice Over Talent</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>Website Essential</b></span>
                <p>We have the Attachmore Upload widget on our website. It solved a big problem of "how to receieve
                  large files from our clients"</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/aadler.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name font-size-17 theme-color">Alissa Adler</h4>
                  <p class="font-size-12">Podolsky Circle Realty</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>Truly Unique</b></span>
                <p>I use online storage for internal collaboration with my team, but anything we send to clients goes
                  through Attachmore.</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/dcombs.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name font-size-17 theme-color">Deborah Combs</h4>
                  <p class="font-size-12">Deborah Combs and Assocaites</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>Right Click Upload Rocks</b></span>
                <p>We have Attachmore software on all our computers in the office. Right Click Upload is part of our
                  daily workflow. It's second nature....</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/jambercrombie.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name font-size-17 theme-color">Jeremy Ambercrombie</h4>
                  <p class="font-size-12">Nobel Corporation</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="swiper-pagination-3 swiper-bullet-1 theme-bullet swiper-pagination-clickable swiper-pagination-bullets __web-inspector-hide-shortcut__">
          <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
          <span class="swiper-pagination-bullet"></span>
        </div> -->
        <div class="swiper-pagination "></div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
      </swiper>
    </div>
    <!-- </swiper> -->
  </div>
</section>