<p class="white-500-fg mrg-btm-15">{{attachment?.attachmentName}}</p>
<p class="white-500-fg mrg-btm-15">{{attachment?.fileDetails.length}} Files | {{attachment?.attachmentSize}}MB </p>
<div class=" files-wrapper padding-20 pull-left width-100">


    <div class="img-gallery">
        <ng-container *ngFor="let file of attachment?.fileDetails">
            <ng-template [ngIf]="file.type === fileType.image">
                <div class="pull-left i-wh100 text-center">
                    <img [src]="file.fileURL" alt="thumbnail" class="p-10 i-wh100">
                    <p class="font-size-12 file-name text-center ">{{file.fileName}}</p>
                </div>

            </ng-template>
            <ng-template [ngIf]="file.type === fileType.video">
                <div class="pull-left i-wh100 text-center">
                    <video [src]="file.fileURL" alt="thumbnail" class="p-10 i-wh100"></video>
                    <p class="font-size-12 file-name text-center ">{{file.fileName}}</p>
                </div>

            </ng-template>

            <ng-template [ngIf]="file.type === fileType.video">
                <div class="pull-left i-wh100">
                    <img [src]="icons[file.extension]" alt="thumbnail" class="p-10 i-wh100">
                    <p class="font-size-12 file-name text-center ">{{file.fileName}}</p>
                </div>
            </ng-template>

        </ng-container>


    </div>
</div>