<div class="dialog-container">

  <div class="text-center mrg-0">
    <h1 mat-dialog-title>Welcome Back !</h1>
    <p>Please enter your password</p>
  </div>

  <button mat-icon-button [mat-dialog-close]="false" class="close-button">
    <mat-icon>close</mat-icon>
  </button>

  <div mat-dialog-content>

    <form [formGroup]="passwordForm" fxLayout="column" fxLayoutAlign="start">
      <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" required formControlName="password">
        <am-bt-input-error-msg [control]="password"></am-bt-input-error-msg>
      </div>
    </form>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="10px" class="mt-20">
    <button mat-flat-button color="primary" class="border-radius-0 theme-color-bg white-500-fg"
      [disabled]="passwordForm.invalid" (click)="onSubmit()">Next</button>
  </div>
  <div class="border-top text-center">
      <p class="text-dark mrg-btm-0 font-size-12">Attachmore passwords are minimum of 6 characters</p>
      <a href="javascript:void(0);" (click)="forgetPasswordForm()" class="font-size-13 text-link theme-color">Forgot Password?</a>
    </div>
</div>