<div class="dialog-container custom_forgot_form relative">
  <div>
    <h1 mat-dialog-title class="relative">Forgot Password</h1>
    <p class="ls-0">Type in the email address you used for login to Attachmore. We will send email to this address.</p>
    <button mat-icon-button [mat-dialog-close]="false" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="forgetPasswordForm" fxLayout="column" fxLayoutAlign="start">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Email" required formControlName="email">
        <am-bt-input-error-msg [control]="email"></am-bt-input-error-msg>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="pt-0 mb-20">
    <button class="border-radius-0 main-font-family font-weight-normal mat-flat-button mat-primary pdd-horizon-25"
      color="primary" [disabled]="forgetPasswordForm.invalid" (click)="onSubmit()">Continue</button>
    <button
      class="border-radius-0 main-font-family font-weight-normal mat-flat-button mat-primary pdd-horizon-25 mrg-left-15"
      color="primary">Login</button>
    <!-- <button class="border-radius-0 main-font-family font-weight-normal mrg-left-15 pdd-horizon-25 mat-flat-button mat-primary" color="primary" mat-flat-button="" ng-reflect-color="primary"><span class="mat-button-wrapper"><span class="mat-button-wrapper">Login</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false"></div><div class="mat-button-focus-overlay"></div></span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button> -->
  </div>
  <p class="ls-0">If the email address is no longer accessible please contact Attachrmore Support.</p>
</div>