<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="form-group col-md-12">
      <label class="text-left font-weight-semi-bold font-size-15 grey-700-fg main-font-family">New Password*</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="newPassword">
      <am-bt-input-error-msg [control]="newPassword"></am-bt-input-error-msg>
    </div>
    <div class="form-group col-md-12">
      <label class="text-left font-weight-semi-bold font-size-15 grey-700-fg">Confirm Password*</label>
      <input type="password" class="form-control" placeholder="Confirm Password" amConfirmEqual="newPassword"
        formControlName="confirmPassword">
      <am-bt-input-error-msg [control]="confirmPassword"></am-bt-input-error-msg>
    </div>
    <div class="form-group col-md-12">
      <button mat-flat-button color="primary" class="border-radius-0 mrg-right-10" [disabled]="passwordForm.invalid">Submit</button>
      <button type="button" mat-stroked-button color="primary" class="border-radius-0"
        (click)="passwordForm.reset()" >Cancel</button>
    </div>
  </div>
</form>