
  <section class="section-1 mt-80" [ngClass]="{'mt-120':authService.isLoggedIn}">
    <div class="container">
      <div class="row">
        <div class="content-block-1 row">
          <h2 class="heading-1 text-center WhiteBg mb-20">How it works</h2>
          <p class="text-center font-weight-semi-bold color-444 font-size-18">Uploading Large Files with ease</p>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="features-block-1">
                <span class="round-images">1</span>
                <!-- <i class="ei ei-push-pin"></i> -->
                <h4 class="features-tittle">Upload to Attachmore</h4>
                <p class="heightMin">Select Files or Folders Using the Attachmore Website or the Attachmore Upload Software.
                  <br>
                  With the website you select files to upload using a file explorer that displays the files and folders on your computer.
                  <br>
                  With the Attachmore Software. you select files and folders by right clicking them and selecting "Upload to Attachmore" from the shortcut menu.</p>
              </div><!-- /features-block-1 -->
              <div class="features-block-1">
                  <span class="round-images">3</span>
                <h4 class="features-tittle">Send and Share the Download Link </h4>
                <p class="heightMin">Attachmore connects with all your favorite communication tools to help you send and share download links easily. Select one of the many options and Attachmore opens a compose message. The download link automatically inserts into the body of the message and your are ready to compose and send your message. If we don't list your communication tool. you can use the Copy Link button to copy the link to your computer's clipboard. Then you can paste the link anywhere you want.</p>
              </div><!-- /features-block-1 -->
            </div>
            <div class="col-md-6">
                <div class="features-block-1">
                    <span class="round-images">2</span>
                  <h4 class="features-tittle">Receive Download Link</h4>
                  <p class="heightMin">Attachmore is unique in that it provides the download link for you to send and share while the upload is occurring. No need to wait until the upload completes before getting a link to share with others. You can share the link knowing that the upload will complete.</p>
                </div><!-- /features-block-1 -->
              <div class="features-block-1">
                  <span class="round-images">4</span>
                <h4 class="features-tittle">Recipients Download </h4>
                <p class="heightMin">Recipients click the link you sent them and are taken to a download page to retrieve your files. They don't need to be member or install software. They click the download button to start the download.
                  <br>
                  Sending and sharing data is a personal between your and your recipients. The Attachmore download can be personalized or branded. Better yet. it you have webiiste integrate Attachmore. This way recipients download files from your website.</p>
              </div><!-- /features-block-1 -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-2  free-trial" style="background-image:url(assets/images/bg/free-trial.jpg); background-size: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pdd-vertical-10 pdd-horizon-70 text-center">
            <div class="text-center">
              <h2 class="no-mrg-top white-500-fg font-size-40">Get started with 30 Day Free Trial</h2>
              <p class="width-80 mrg-horizon-auto mrg-top-20 white-500-fg">Attachmore is the best tool to send and share files.</p>
              <div class="form-group mrg-top-30">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="icon-input">
                        <mat-form-field class="example-full-width mrg-right-80 width-60">
                            <input matInput placeholder="Your mail here">
                          </mat-form-field>
                        
                      <!-- <input type="email" class="form-control width-75" placeholder="Your mail here"> -->
                      <!-- <i class="ei ei-email"></i> -->
                      <a href="" class="btn btn-theme btn-md inline-submit mrg-top-10">Next </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Learn More About</h2>
            <div class="relative mrg-top-30">
              <h5 class="font-size-16 font-weight-semi-bold">Integrating Attachmore</h5>
              <p class="ls-0 pdd-right-120">If you have a website then integrate Attachmore so file exchanges happen on your website and within your brand or persona. Recipients can download and visitors can send you files.</p>
              <button class="border-radius-0 cstm_readmore mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
            </div>
            <div class="relative mrg-top-30">
              <h5 class="font-size-16 font-weight-semi-bold">Right Click Upload</h5>
              <p class="ls-0 pdd-right-120">Be more productive with our Right Click Upload software. Select and Upload files from anywhere on your computer without signing into the Attachmore website.</p>
              <button class="border-radius-0 cstm_readmore mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
            </div>
            <div class="relative mrg-top-30">
              <h5 class="font-size-16 font-weight-semi-bold">Team Accounts</h5>
              <p class="ls-0 pdd-right-120">Support your entire team with your Attachmore account. Setup additional administrators or sub-users. Keep all your file communications referenceable in one place.</p>
              <button class="border-radius-0 mrg-top-15 cstm_readmore pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
            </div>
          </div>
        </div>
      </div>
    </section>
