.font-weight-500{
    font-weight: 500;
}
.color-444{
    color: #444444 !important;
}
.color-666{
    color: #666666 !important;
}

.cstm_readmore{
    position: absolute;
    top: 0;
    right: 0;
}
.csutm_img > img {
    box-shadow: 0 15px 40px 0 rgba(0,0,0,0.3);
}