<section class="section-1 mt-80">
  <div class="container">
    <div class="content-block-1 row">
      <h2 class="heading-1 text-center WhiteBg">Benefits</h2>
      <div class="col-md-6">
        <div class="text-content pdd-top-50">
          <h4 class="font-weight-semi-bold">Easy Upload and Link Generation</h4>
          <p>With Attachmore software or the website. selecting. uploading and sharing is simple. Unlike online storage solutions. Attachmore enables you to select files and folders on your computer or device to upload. You don't have to first upload to the cloud and then organize your data into sharing folders and then create sharing links. With Attachmore the share link is presented when the upload starts. You are free to share the link with others and move on with your life.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="csutm_img">
          <img class="img-responsive no-mobile-parallax" src="assets/images/main/Benefits_upload.jpg" alt="image">
        </div><!-- img-style-1 -->
      </div>
    </div>

    <div class="content-block-1 row">
      <div class="col-md-6">
        <div class="csutm_img">
          <img class="img-responsive no-mobile-parallax" src="assets/images/main/Benefits_expire.jpg" alt="image">
        </div><!-- img-style-1 -->
      </div>
      <div class="col-md-6">
        <div class="text-content-right">
          <h4 class="font-weight-semi-bold">Automatic Expiration and Purges</h4>
          <p>Download links expire automatically based on the number of downloads or the time period you set. Your recipients don't have forever access to your files and you don't have to manage user access. Also after the link expires your files can automatically are purge from Attachmore storage. You don't need to worry about managing another storage location for your data. Think of Attachmore as your temporary share location. not your long term data archive.</p>
        </div>
      </div>
    </div>
    <div class="content-block-1 row">
      <div class="col-md-6">
        <div class="text-content pdd-top-40">
          <h4 class="font-weight-semi-bold">Its your link. use as you please</h4>
          <p>Attachmore presents the download link when the upload starts. You are able to copy and paste the link into an existing email or document.. Or directly send the link using the Share Link button. We present a number of popular email. instant message. or social networking tools. Other solutions often don't share the download link and communicate to your recipients on your behalf. Their goal is to use your recipient's email address to build their marketing database and then promote offerings to them. With Attachmore. we value the privacy of the communication between you and your recipients. We stay behind the scenes and you keep center stage with your recipients.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="csutm_img">
          <img class="img-responsive no-mobile-parallax" src="assets/images/main/Benefits_upload2.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="content-block-1 row">
      <div class="col-md-6">
        <div class="csutm_img">
          <img class="img-responsive no-mobile-parallax" src="assets/images/main/Benefits_notify.jpg" alt="image">
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-content-right ">
          <h4 class="font-weight-semi-bold">You are in the know with Download Notifications</h4>
          <p>With Attachmore you can know when someone downloaded your files. Set links to send an email or text message when recipients download. Its great to know that a client downloaded a proposal or a friend retrieved the photos you sent. Knowledge is power and peace of mind.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-2  free-trial" style="background-image:url(assets/images/bg/free-trial.jpg); background-size: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pdd-vertical-10 pdd-horizon-70 text-center">
          <div class="text-center">
            <h2 class="no-mrg-top white-500-fg font-size-40">Get started with 30 Day Free Trial</h2>
            <p class="width-80 mrg-horizon-auto mrg-top-20 white-500-fg">Attachmore is the best tool to send and share files.</p>
            <div class="form-group mrg-top-30">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="icon-input">
                      <mat-form-field class="example-full-width mrg-right-80 width-60">
                          <input matInput placeholder="Your mail here">
                        </mat-form-field>
                      
                    <!-- <input type="email" class="form-control width-75" placeholder="Your mail here"> -->
                    <!-- <i class="ei ei-email"></i> -->
                    <a href="" class="btn btn-theme btn-md inline-submit mrg-top-10">Next </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Learn More About</h2>
          <div class="relative mrg-top-30">
            <h5 class="font-size-16 font-weight-semi-bold">Integrating Attachmore</h5>
            <p class="ls-0 pdd-right-120">If you have a website then integrate Attachmore so file exchanges happen on your website and within your brand or persona. Recipients can download and visitors can send you files.</p>
            <button class="border-radius-0 cstm_readmore mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
          </div>
          <div class="relative mrg-top-30">
            <h5 class="font-size-16 font-weight-semi-bold">Right Click Upload</h5>
            <p class="ls-0 pdd-right-120">Be more productive with our Right Click Upload software. Select and Upload files from anywhere on your computer without signing into the Attachmore website.</p>
            <button class="border-radius-0 cstm_readmore mrg-top-15 pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
          </div>
          <div class="relative mrg-top-30">
            <h5 class="font-size-16 font-weight-semi-bold">Team Accounts</h5>
            <p class="ls-0 pdd-right-120">Support your entire team with your Attachmore account. Setup additional administrators or sub-users. Keep all your file communications referenceable in one place.</p>
            <button class="border-radius-0 mrg-top-15 cstm_readmore pdd-horizon-18 readmore mat-stroked-button mat-accent" color="accent" mat-stroked-button="" ng-reflect-color="accent"><span class="mat-button-wrapper">Read More</span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
          </div>
        </div>
      </div>
    </div>
  </section>
