.heading-1:before {
    background-color: transparent;
}
.dash_img {
    position: absolute;
    right: 20px;
    top: 20px;
}

.font-weight-500{
    font-weight: 500 !important;
}
.user_img{
    float: left;
    width: 30%;

    img{
        max-width: 100%;
    }
}
.user_detail{
    float: left;
    width: 70%;
}
.color-444{
    color: #444;
}
.color-666{
    color: #666;
}
.custm_dash{
    position: relative;
}
.custm_dash:before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 45%;
    height: 100%;
    background: #fff;
}