.spinner-text {
    position: absolute;
    top: 43px;
    left: 25px;
    line-height: 22px;
    font-size: 14px;
    font-family: Montserrat;
    width: 100px;
    text-align: center;
    font-weight: 600;
    color: #666;
    letter-spacing: 0.2px;
}

.position-relative {
    position: relative;
}

.mat-tab-label {
    background: #e5e5e5;
}

.fs-hero {
    height: 100%;
}