<section id="hero dark-overlay">
  <div class="fs-hero hero-img" [style.backgroundImage]="imageUrl">
    <div class="dark-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mrg-top-130 r-main text-center banner-content">
            <h1 class="text-white text-capitalize" *ngIf="authService.isLoggedIn">
              Welcome {{authService.userInfo?.user.firstName}}
            </h1>
            <h1 class="text-white" *ngIf="!authService.isLoggedIn">
              Send and Share Files with Ease
            </h1>
            <h2 class="white-500-fg font-size-16 font-weight-semi-bold m-0 mrg-btm-10" *ngIf="!authService.isLoggedIn">
              Upload Files – Receive a Download Link – Share with others
            </h2>
            <p class="white-500-fg font-size-13 m-0" *ngIf="!authService.isLoggedIn"><img
                src="assets/images/main/arrow.png" class="mrg-top-20"> <span
                class="theme-color text-italic font-size-15">Sign in or Create a new account with your email
                address</span></p>
            <h2 class="white-500-fg font-size-16 font-weight-semi-bold m-0 mrg-btm-30" *ngIf="authService.isLoggedIn">
              You can upload {{dataUsage?.remaining}} MB of files
            </h2>
            <div fxLayoutGap="10px">
            </div>
          </div>
          <am-dnd [dataUsage]="dataUsage"></am-dnd>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Features Box 6 Start -->
<section class="section-1 bg-gray">
  <div class="container">
    <div class="text-center">
      <h2 class="mrg-btm-30">How it works</h2>
      <p class="width-65 mrg-horizon-auto">Attachmore makes it simple to send and share files that are too large to
        email. Avoid the pitfalls of email systems and the complexity of online storage solutions with a service
        specifically designed for file delivery.</p>
    </div>
    <div class="row mrg-top-50">
      <div class="col-md-4 mrg-btm-30">
        <div class="features-block-5">
          <img src="assets/images/icons/upload.svg" alt="upload">
          <div class="features-info">
            <h4 class="features-tittle">Select and Upload</h4>
            <p>Files can be selected to upload using the Attachmore website or the Right Click Upload software.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mrg-btm-30">
        <div class="features-block-5">
          <img src="assets/images/icons/download.svg" alt="download">
          <div class="features-info">
            <h4 class="features-tittle">Receive Download Link</h4>
            <p>A Download Link is generated which can be set to expire after a number of days or downloads.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mrg-btm-30">
        <div class="features-block-5">
          <img src="assets/images/icons/share.svg" alt="share">
          <div class="features-info">
            <h4 class="features-tittle">Share Download Link</h4>
            <p>Recipients who recieve the link, simply click and are taken to a webpage to download the files.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features Box 6 End -->


<!-- Features Box 1 Start -->
<section class="section-1 ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="mrg-btm-30">Why Attachmore</h2>
        <p>We believe online storage solutions like Dropbox or Google Drive are great for backup, archiving and
          collaborating, but are too cumbersome for sending and sharing files especially for business purposes.</p>
        <p class="mrg-top-20">Attachmore is a better way to send and share files. It works the way you work by
          enhancing your current communication tools instead of replacing them. </p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="features-block-1">
              <span class="round-images"><img src="assets/images/main/simple.png" alt="simpleimg"></span>
              <!-- <i class="ei ei-push-pin"></i> -->
              <h4 class="features-tittle">Simple</h4>
              <p class="heightMin">Attachmore is just 3 steps to send large files: Select, Upload, and Share link.
                Recipients use links
                to download from a web page. They don't need an Attachmore account. Links automatically expire and
                files automatically purge as you set.</p>
            </div><!-- /features-block-1 -->
            <div class="features-block-1">
              <span class="round-images"><img src="assets/images/main/secure.png" alt="secureimg"></span>
              <h4 class="features-tittle">Secure</h4>
              <p class="heightMin">All uploads and downloads occur using 256 AES encyrption. Download links can be
                password protected or
                set to collect the downloaders information like email, name or company. Also links can be set to
                automatically expire to limit exposure.</p>
            </div><!-- /features-block-1 -->
          </div>
          <div class="col-md-6">
            <div class="features-block-1">
              <span class="round-images"><img src="assets/images/main/professional.png" alt="professionalimg"></span>
              <h4 class="features-tittle">Professional</h4>
              <p class="heightMin">Attachmore serves business. We value the privacy of communications between you and
                your recipients.
                For this reason we do not generate revenue by displaying third party advertisements in the Attachmore
                process.</p>
            </div><!-- /features-block-1 -->
            <div class="features-block-1">
              <span class="round-images"><img src="assets/images/main/reliable.png" alt="reliableimg"></span>
              <h4 class="features-tittle">Reliable</h4>
              <p class="heightMin">Attachmore maintains the best operating architecture built with redundancy in mind.
                We maintain a
                99.9999% uptime rating. Rest assured knowing recipients will always have access to your files.</p>
            </div><!-- /features-block-1 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features Box 1 End -->

<!-- Content Blocks 1 Start -->
<section class="section-1">
  <div class="container">
    <div class="content-block-1 row">
      <div class="col-md-6">
        <div class="text-content">
          <h2 class="mrg-btm-30">Integrate into your <span class="theme-color">Website</span></h2>
          <p>The best way to send and share files is to use your website, not ours.</p>
          <p>Integrate Attachmore Widgets into your website. Download links will use your website's address. Recipients
            visit your website to download. Also site visitors can upload files to you using Attachmore Upload widgets.
            Keep them within your brand and Attachmore behind the scenes.</p>
          <button mat-stroked-button color="accent" class="border-radius-0 mrg-top-15  pdd-horizon-18 readmore">Read
            More</button>

        </div><!-- /text-content -->
      </div>
      <div class="col-md-6">
        <div class="img-style-1">
          <img class="img-responsive no-mobile-parallax" src="assets/images/main/ing.jpg" alt="image">
        </div><!-- img-style-1 -->
      </div>
    </div>

    <div class="content-block-1 row">
      <div class="col-md-6">
        <div class="img-style-1 left">
          <img class="img-responsive no-mobile-parallax" src="assets/images/main/right-click.jpg" alt="image">
        </div><!-- img-style-1 -->
      </div>
      <div class="col-md-6">
        <div class="text-content-right">
          <h2 class="mrg-btm-30 right">Right Click Upload <span class="theme-color">Software</span></h2>
          <p>Select and Upload Files without going to a website. No logins, No Hassles.</p>
          <p>The Attachmore software adds extensions to the Right Click shortcut menu of your computer’s operating
            system. When Right Clicking on a file, a group of files or a folder you can choose "Upload to Attachmore".
            Selected files upload and a download link is presented and ready to share. </p>
          <button mat-stroked-button color="accent" class="border-radius-0 mrg-top-15  pdd-horizon-18 readmore">Read
            More</button>

        </div><!-- /padding -->
      </div>
    </div>
    <div class="content-block-1 row">
      <div class="col-md-6">
        <div class="text-content">
          <h2 class="mrg-btm-30">Team <span class="theme-color">Accounts</span></h2>
          <p>Support your entire team with one Attachmore account. Each person on your team can be a sub-user of your
            account and use Attachmore to send and receive files. As the administrator you now have a permanent record
            of all files shared by your team with your clients.</p>
          <button mat-stroked-button color="accent" class="border-radius-0 mrg-top-15  pdd-horizon-18 readmore">Read
            More</button>

        </div><!-- /text-content -->
      </div>
      <div class="col-md-6">
        <div class="img-style-1">
          <img class="img-responsive no-mobile-parallax" src="assets/images/main/team-acc.jpg" alt="">
        </div><!-- img-style-1 -->
      </div>
    </div>
  </div>
</section>
<!-- Content Blocks 1 End -->



<!-- Features Box 4 Start -->
<section class="section-3 bg-gray">
  <div class="container">
    <div class="text-center">
      <h2 class="pb-30">Additional Features</h2>
      <div class="row mrg-top-70">
        <div class="col-md-4">
          <div class="features-block-3">
            <!-- <i class="ei ei-insurance"></i> -->
            <img src="assets/images/main/secure-link.png" alt="secure">
            <div class="features-info">
              <h4 class="features-tittle">Secure Links</h4>
              <p>Uploads and downloads occur using 256bit AES encyrption. Downloads links can be password protected and
                require downloaders to provide name, email, or company.</p>
            </div><!-- /features-info -->
          </div><!-- /features-block-3 -->
        </div>
        <div class="col-md-4">
          <div class="features-block-3">
            <img src="assets/images/main/export.png" alt="export">
            <div class="features-info">
              <h4 class="features-tittle">Auto Expire - Auto Purge</h4>
              <p>Increase security by limiting access. Download Links can expire based on days or downloads. Also purge
                dates can be set to automtically delete older files from storage.</p>
            </div><!-- /features-info -->
          </div><!-- /features-block-3 -->
        </div>
        <div class="col-md-4">
          <div class="features-block-3">
            <img src="assets/images/main/notification.png" alt="secure">
            <div class="features-info">
              <h4 class="features-tittle">Notifications and Tracking</h4>
              <p>Receive email or text messages when files are downloaded. All download activity for each link is
                logged and recorded in your account later review.</p>
            </div><!-- /features-info -->
          </div><!-- /features-block-3 -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="features-block-3">
            <img src="assets/images/main/long-term.png" alt="secure">
            <div class="features-info">
              <h4 class="features-tittle">Long Term Archiving</h4>
              <p>Archive all files or just certain files uploaded to Attachmore. Archived files with expired download
                links can be reactivated to allow recipients to download again. </p>
            </div><!-- /features-info -->
          </div><!-- /features-block-3 -->
        </div>
        <div class="col-md-4">
          <div class="features-block-3">
            <img src="assets/images/main/guest.png" alt="secure">
            <div class="features-info">
              <h4 class="features-tittle">Guest Links</h4>
              <p>Create limited use links that others can use to upload files to you. Email or text notifications will
                let you know files have arrived.</p>
            </div><!-- /features-info -->
          </div><!-- /features-block-3 -->
        </div>
        <div class="col-md-4">
          <div class="features-block-3">
            <img src="assets/images/main/payment.png" alt="secure">
            <div class="features-info">
              <h4 class="features-tittle">Payment for Download</h4>
              <p>Need to collect payment for delivery of your digital assets? Attachmore makes it easy. Require payment
                for download on any of your files at any time.</p>
            </div><!-- /features-info -->
          </div><!-- /features-block-3 -->
        </div>
      </div>
    </div><!-- /text-center -->
  </div>
</section>
<!-- Features Box 4 End -->

<!-- Pricing Table 2 Start -->
<section class="section-2">
  <div class="container">
    <div class="pricing-2 column-3">
      <div class="pricing-table">
        <div class="pricing-info">
          <div class="pricing-status">
            <div class="plan">
              <h4>Professional</h4>
              <span class="mrg-btm-10 font-size-30"><span class=" price"><b>$90</b></span> / Year</span>
              <p class="width-80 mrg-horizon-auto mrg-top-20 mrg-btm-30">or $9.95 a month. Perfect for single user or
                small team.</p>
            </div>
          </div>
          <ul class="pricing-content text-left pdd-left-50">
            <li><i class="ei ei-checked li-check mrg-right-15"></i>20 GB of Monthly Upload</li>
            <li><i class="ei ei-checked li-check mrg-right-15"></i>10 GB Arhical Storage</li>
            <li><i class="ei ei-checked li-check mrg-right-15"></i>Supports 5 Users</li>
            <li><i class="ei ei-checked li-check mrg-right-15"></i>Unlimited Downloads</li>
          </ul>
        </div>

        <div class="pricing-footer">
          <button class="btn btn-block btn-dark no-mrg-btm">Sign Up</button>
        </div>
      </div>
      <div class="pricing-table recommended">
        <div class="pricing-info">
          <div class="pricing-status">
            <div class="plan">
              <h4>Free Trial</h4>
              <span class="mrg-btm-10">
                <span class="font-size-30 price"><b>30 Days</b></span>
                <p class="width-80 mrg-horizon-auto mrg-top-20 mrg-btm-30">Try Attachmore for free and see it if meets
                  your needs.</p>
              </span>
            </div>
          </div>
          <ul class="pricing-content text-left pdd-left-50">
            <li><i class="ei ei-checked li-check mrg-right-15"></i>1 GB of Upload</li>
            <li><i class="ei ei-checked li-check mrg-right-15"></i>5 Downloads per file </li>
            <li><i class="ei ei-checked li-check mrg-right-15"></i>15 Days Hosting</li>
            <li><i class="ei ei-checked li-check mrg-right-15"></i>Full Feature Access</li>
          </ul>
        </div>
        <div class="pricing-footer">
          <button class="btn btn-block btn-dark no-mrg-btm">Sign Up</button>
        </div>
      </div>
      <div class="pricing-table">
        <div class="pricing-info">
          <div class="pricing-status">
            <div class="plan">
              <h4>Office</h4>
              <span class="mrg-btm-10 font-size-30"><span class=" price"><b>$250</b></span> / Year</span>
              <p class="width-80 mrg-horizon-auto mrg-top-20 mrg-btm-30">or $24.95 a month. Great plan for true data
                slingers.</p>
            </div>
          </div>
          <ul class="pricing-content text-left pdd-left-50">
            <li><i class="ei ei-checked li-check mrg-right-15"></i>50GB of Monthly Upload</li>
            <li><i class="ei ei-checked li-check mrg-right-15"></i>25GB Archive Storage</li>
            <li><i class="ei ei-checked li-check mrg-right-15"></i>Supports 10 Users</li>
            <li><i class="ei ei-checked li-check mrg-right-15"></i>Unlimited Downloads</li>
          </ul>
        </div>
        <div class="pricing-footer">
          <button class="btn btn-block btn-dark no-mrg-btm">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing Table 2 End -->


<!-- Testimonial 4 Start -->
<!-- <section class="section-1 bg-gray">
  <div class="container">
    <div class="text-center">
      <h2 class="mrg-btm-30 mrg-top-15">Attachmore Users Say</h2>
    </div>
    <div class="testimonial-4 mrg-top-50 swiper-container-horizontal">
      <div class="swiper-3 swiper-container">
        <div class="swiper-wrapper mrg-btm-50">
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>Our Daily Go to</b></span>
                <p>Attachmore is almost as important as email in our office. We are constantly sending and receiving
                  files with no problems.</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/rbush.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name theme-color">Renee Bush</h4>
                  <p class="font-size-13">Aiken Welch Court Reporters</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>The Perfect tool</b></span>
                <p>Ive been with Attachmore since they started. It makes me more productive in deliverying final work
                  product to my cusotmers.</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/jvalverde.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name theme-color">Joel Valverde</h4>
                  <p class="font-size-13">Voice Over Talent</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>Website Essential</b></span>
                <p>We have the Attachmore Upload widget on our website. It solved a big problem of "how to receieve
                  large files from our clients"</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/aadler.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name theme-color">Alissa Adler</h4>
                  <p class="font-size-13">Podolsky Circle Realty</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>Truly Unique</b></span>
                <p>I use online storage for internal collaboration with my team, but anything we send to clients goes
                  through Attachmore.</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/dcombs.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name theme-color">Deborah Combs</h4>
                  <p class="font-size-13">Deborah Combs and Assocaites</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="quote">
                <span class="quote-title"><b>Right Click Upload Rocks</b></span>
                <p>We have Attachmore software on all our computers in the office. Right Click Upload is part of our
                  daily workflow. It's second nature....</p>
              </div>
              <div class="client">
                <img class="client-img" src="assets/images/thumb/jambercrombie.jpg" alt="">
                <div class="client-info">
                  <h4 class="client-name theme-color">Jeremy Ambercrombie</h4>
                  <p class="font-size-13">Nobel Corporation</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination-3 swiper-bullet-1 theme-bullet swiper-pagination-clickable swiper-pagination-bullets __web-inspector-hide-shortcut__">
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- Testimonial 4 End -->
<am-carousel></am-carousel>

<!-- CTA 4 Start -->
<section class="section-2  free-trial"
  style="background-image:url(assets/images/bg/free-trial.jpg); background-size: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pdd-vertical-10 pdd-horizon-70 text-center">
          <div class="text-center">
            <h2 class="no-mrg-top white-500-fg font-size-40">Not ready to create an account yet?
            </h2>
            <p class="width-80 mrg-horizon-auto mrg-top-20 white-500-fg">
              No problem. Give us your email and we will stay in touch with news about sending and sharing files
            </p>
            <div class="form-group mrg-top-30">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="icon-input">
                    <mat-form-field class="example-full-width mrg-right-80 width-60">
                      <input matInput placeholder="Your mail here">
                    </mat-form-field>

                    <!-- <input type="email" class="form-control width-75" placeholder="Your mail here"> -->
                    <!-- <i class="ei ei-email"></i> -->
                    <a href="" class="btn btn-theme btn-md inline-submit mrg-top-10">Next </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CTA 4 End -->

<!-- Heading 1 Column Start -->
<section class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mrg-btm-30 text-center">About <span class="theme-color">Us</span></h2>
        <div class="text-center width-75 mrg-horizon-auto">
          <p>Attachmore is a large file delivery service. Founded in 2007, our focus was and is to help our customers
            send and share files from point A to point B without disrupting their normal workflow. </p>
          <p>We find the plethora of online storage options out there are great for backup, archiving and
            collaboration, but are too cumbersome for the simple task of sending files . So we created Attachmore to
            offer simple point A to point B file delivery.</p>
          <p>Attachmore gets the job done in just a few steps. Our customers are more effective in communicating with
            their files and more productive in their daily work.</p>
          <p>Try us today. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Heading 1 Column End-->