<section class="mt-40">
  <div>
    <div class="container">
      <div class="row">
        <div class="mrg-top-100">
          <h2 class="heading-1 text-center">Reset Password</h2>
          <ol class="breadcrumb  mrg-top-10 m-0">
              <li class="breadcrumb-item"><a href="#" class="font-size-16 white-200-fg">Account</a></li>
              <li class="breadcrumb-item active font-size-16 theme-color">Edit Account Password</li>
            </ol>
        </div>
        <div class="width-40 mrg-horizon-auto white-500-bg padding-20 border custm_pwd">
          <am-password-form type="RESET"></am-password-form>
        </div>
      </div>
    </div>
  </div>
</section>