<!-- Footer Start -->
<section class="footer-default">
    <div class="container">
        <div class="row mrg-btm-30">
            <div class="col-md-3">
                <div class="widget widget-about">
                    <img class="img-responsive" src="assets/images/logo/logo-11.svg" alt="logo">
                    <p class="mrg-top-30">Attachmore is a large file delivery service. Founded in 2007, our focus was
                        and is to help our customers send and share files from point A to point B without disrupting
                        their normal workflow.</p>
                </div><!-- /widget-about -->
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="widget widget-link">
                    <h3 class="widget-tittle">Useful Link</h3>
                    <div class="row mrg-btm-30">
                        <div class="col-md-6">
                            <ul class="link">
                                <li><a href="privacypolicy.html">Privacy Policy </a></li>
                                <li><a href="terms.html">Terms and Conditions</a></li>
                                <li><a href="/addFree">Ad Free Pledge</a></li>
                                <li><a href="reviews.html">Review Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="link">
                                <li><a href="integrate.html">Integrate Attachmore</a></li>
                                <li><a href="uploadsoftware.html">Upload Software</a></li>
                                <li><a href="teamaccounts.html">Team Accounts</a></li>
                                <li><a href="receivefiles.html">Receive Files</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 ">
                <div class="widget widget-news">
                    <h3 class="widget-tittle">Hot Topics</h3>
                    <div class="news-item">
                        <div class="news-media">
                            <img class="img-responsive" src="assets/images/main/footer-img.svg" alt="invoation image">
                        </div>
                        <div class="news-info">
                            <a href="#" class="news-tittle">Feel the Inovation</a>
                            <span class="news-meta"> <a href="#" class="author font-size-14" color="primary">Hendry Chew</a> </span>
                            <div class="author font-size-12 grey-200-fg" color="primary">3 April</div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-media">
                            <img class="img-responsive" src="assets/images/main/footer-img.svg" alt="image">
                        </div>
                        <div class="news-info">
                            <a href="#" class="news-tittle">Feel the Inovation</a>
                            <span class="news-meta"> <a href="#" class="author font-size-14" color="primary">Hendry Chew</a> </span>
                            <div class="author font-size-12 grey-200-fg" color="primary">3 April</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <span class="copyright"><img class="pdd-right-10" src="assets/images/logo/logo-3.svg" alt="eastern">
                Copyright © 2018 Attachmore Service LLC. </span>
        </div>
    </div>
</section>
<!-- Footer End -->
<script src="https://material.angularjs.org/latest/angular-material.min.js"></script>