<section class="section-1 mt-80">
  <div class="container">
    <div class="content-block-1 row">
      <div class="">
        <h2 class="heading-1 text-center mb-60">KEEP ATTACHMORE AD-FREE</h2>
        <h4 class="font-weight-semi-bold text-center color-444 mt-0 mb-0">Please donate to keep Attachmore free from advertising</h4>
        <p class="text-center color-666 mrg-top-5">Any amount is super great.<br>$5, $10, $20</p>
        <p class="text-center mrg-top-5 mb-10">
          <button class="border-radius-0 pdd-horizon-30 main-font-family font-weight-normal mat-flat-button mat-primary" color="primary" mat-flat-button="" ng-reflect-color="primary">
            <span class="mat-button-wrapper">
              <span class="mat-button-wrapper">Donate</span>
              <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false"></div>
              <div class="mat-button-focus-overlay"></div>
            </span>
            <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
            <div class="mat-button-focus-overlay"></div>
          </button>
        </p>
        <p class="text-center mt-20">
          <img src="assets/images/main/pay_option.png" alt="image" />
        </p>
      </div>
      <div>
        <hr class="mt-60 mb-70" style="border-color:#ccc;">
      </div>
      <div class="pdd-left-20 inline-block" style="border-left:2px solid #2e71f0;">
      <div class="col-md-12">
        <h4 class="font-weight-semi-bold color-666 mt-0 mb-0">The promise of Ad-Free File Sharing</h4>
        <p class="font-size-15 ls-0 lh-1-6 mb-30">A note from the founder, Brent Young</p>
      </div>
      <div class="col-md-7">
        <div class="">
          <h4 class="font-weight-semi-bold color-666 mt-0 mb-20">Uploading the Dream</h4>
          <p class="font-size-15 ls-0 lh-1-5 mb-10">Attachmore is focused on making file sharing simple.  We value the privacy of the communication between you and your recipients.  For this reason we do not  view your use of Attachmore as an opportunity to generate revenue by displaying third party advertisements in the Attachmore process.</p>
          <p class="font-size-15 ls-0 lh-1-5 mb-10">We think this would invade your and your recipients privacy and make the Attachmore experience unattractive and untrustworthy. </p>
          <p class="font-size-15 ls-0 lh-1-5 mb-20">We know the need to send and share files is not an everyday need for most computer users.  For some it is, and they subscribe to Attachmore.  For others, subscribing to a service doesn't make sense.  Regardless of who you are, Attachmore is here to serve the file sharing need and do so in an ad free environment.  Donating helps us stay ad-free.</p>
          <div>
            <img src="assets/images/main/brent.png" class="pull-left mrg-right-10">
            <h2>Brent Young</h2>
            <p>Attachmore.com Founder - San Diego CA</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div>
          <img class="img-responsive no-mobile-parallax" src="assets/images/main/add-free.jpg" alt="image">
        </div><!-- img-style-1 -->
      </div>
      </div>      
      <div>
          <hr class="mt-60 mb-0" style="border-color:#ccc;">
        </div>
    </div>
    <div>
      <h4 class="font-weight-semi-bold color-666 mt-0 mb-10">What Happens with my donation?</h4>
      <p class="font-size-15 ls-0 lh-1-6 mb-30">We use your donation to continue to develop Attachmore and pay our bills.  Attachmore is self-funded.  We don't have outside investors or millions of investment dollars sitting in the bank.  Our goal in starting Attachmore was to build a great service and service our customers.  Your use and donation to Attachmore helps us to keep achieving that goal and improving our service offering.</p>
    </div>
  </div>
</section>

