.expiry-tab .mat-form-field {
    width: 28%
}
select.form-control,input.form-control
{
    min-height: 36px;
    color:#222;
}
label
{
    min-width: 167px;
    text-align: right;
    font-weight: 400;
    color: #222;
    font-size: 15px;
}

