<div class="fs-hero hero-img pdd-btm-30" style="background-image: url(assets/images/bg/bg1.jpg)">
  <div class="dark-overlay">


    <div class="container">
      <div class="row">
        <div class="col-md-12 mrg-top-125 text-center ">
          <div class="width-65 bg-opaque upload-banner p-10 mrg-horizon-auto ">
            <div class="m-10 p-20">
              <p class="font-weight-bold font-size-18 white-500-fg m-0"> File Download</p>
              <am-download-preview [attachmentId]="attachmentId"></am-download-preview>
              <button mat-flat-button color="accent" (click)="whenDownloadClicked()" class="white-500-fg mrg-top-20 border-radius-0">Download</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
